:root {
    --primary-color: blue;
    --secoundary-color: green;
}

*,
*::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
}

.tweetsBody {
    width: 75rem;
    max-width: 1200;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.title {
    grid-column: -1/1;
}

.tweet {
    padding: 3rem;
    border: 1px solid red;
    border-radius: 5px;
    background: var(--primary-color);
    grid-column: 1/2;
}

.boot {
    background: var(--secoundary-color);
    grid-column: 2/3;
}

.addTweet {
    grid-column: -1/1;
}